@font-face {
  font-family: 'ios-icon';
  src:url('/fonts/Pe-icon-7-stroke.eot?-2irksn');
  src:url('/fonts/Pe-icon-7-stroke.eot?#iefix-2irksn') format('embedded-opentype'),
    url('/fonts/Pe-icon-7-stroke.woff?-2irksn') format('woff'),
    url('/fonts/Pe-icon-7-stroke.ttf?-2irksn') format('truetype'),
    url('/fonts/Pe-icon-7-stroke.svg?-2irksn#Pe-icon-7-stroke') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ios-icon-"], [class*=" ios-icon-"] {
  display: inline-block;
  font-family: 'ios-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ios-icon-cloud-upload:before {
  content: "\e68a";
}
.ios-icon-cash:before {
  content: "\e68c";
}
.ios-icon-close:before {
  content: "\e680";
}
.ios-icon-bluetooth:before {
  content: "\e68d";
}
.ios-icon-cloud-download:before {
  content: "\e68b";
}
.ios-icon-way:before {
  content: "\e68e";
}
.ios-icon-close-circle:before {
  content: "\e681";
}
.ios-icon-id:before {
  content: "\e68f";
}
.ios-icon-angle-up:before {
  content: "\e682";
}
.ios-icon-wristwatch:before {
  content: "\e690";
}
.ios-icon-angle-up-circle:before {
  content: "\e683";
}
.ios-icon-world:before {
  content: "\e691";
}
.ios-icon-angle-right:before {
  content: "\e684";
}
.ios-icon-volume:before {
  content: "\e692";
}
.ios-icon-angle-right-circle:before {
  content: "\e685";
}
.ios-icon-users:before {
  content: "\e693";
}
.ios-icon-angle-left:before {
  content: "\e686";
}
.ios-icon-user-female:before {
  content: "\e694";
}
.ios-icon-angle-left-circle:before {
  content: "\e687";
}
.ios-icon-up-arrow:before {
  content: "\e695";
}
.ios-icon-angle-down:before {
  content: "\e688";
}
.ios-icon-switch:before {
  content: "\e696";
}
.ios-icon-angle-down-circle:before {
  content: "\e689";
}
.ios-icon-scissors:before {
  content: "\e697";
}
.ios-icon-wallet:before {
  content: "\e600";
}
.ios-icon-safe:before {
  content: "\e698";
}
.ios-icon-volume2:before {
  content: "\e601";
}
.ios-icon-volume1:before {
  content: "\e602";
}
.ios-icon-voicemail:before {
  content: "\e603";
}
.ios-icon-video:before {
  content: "\e604";
}
.ios-icon-user:before {
  content: "\e605";
}
.ios-icon-upload:before {
  content: "\e606";
}
.ios-icon-unlock:before {
  content: "\e607";
}
.ios-icon-umbrella:before {
  content: "\e608";
}
.ios-icon-trash:before {
  content: "\e609";
}
.ios-icon-tools:before {
  content: "\e60a";
}
.ios-icon-timer:before {
  content: "\e60b";
}
.ios-icon-ticket:before {
  content: "\e60c";
}
.ios-icon-target:before {
  content: "\e60d";
}
.ios-icon-sun:before {
  content: "\e60e";
}
.ios-icon-study:before {
  content: "\e60f";
}
.ios-icon-stopwatch:before {
  content: "\e610";
}
.ios-icon-star:before {
  content: "\e611";
}
.ios-icon-speaker:before {
  content: "\e612";
}
.ios-icon-signal:before {
  content: "\e613";
}
.ios-icon-shuffle:before {
  content: "\e614";
}
.ios-icon-shopbag:before {
  content: "\e615";
}
.ios-icon-share:before {
  content: "\e616";
}
.ios-icon-server:before {
  content: "\e617";
}
.ios-icon-search:before {
  content: "\e618";
}
.ios-icon-film:before {
  content: "\e6a5";
}
.ios-icon-science:before {
  content: "\e619";
}
.ios-icon-disk:before {
  content: "\e6a6";
}
.ios-icon-ribbon:before {
  content: "\e61a";
}
.ios-icon-repeat:before {
  content: "\e61b";
}
.ios-icon-refresh:before {
  content: "\e61c";
}
.ios-icon-add-user:before {
  content: "\e6a9";
}
.ios-icon-refresh-cloud:before {
  content: "\e61d";
}
.ios-icon-paperclip:before {
  content: "\e69c";
}
.ios-icon-radio:before {
  content: "\e61e";
}
.ios-icon-note2:before {
  content: "\e69d";
}
.ios-icon-print:before {
  content: "\e61f";
}
.ios-icon-network:before {
  content: "\e69e";
}
.ios-icon-prev:before {
  content: "\e620";
}
.ios-icon-mute:before {
  content: "\e69f";
}
.ios-icon-power:before {
  content: "\e621";
}
.ios-icon-medal:before {
  content: "\e6a0";
}
.ios-icon-portfolio:before {
  content: "\e622";
}
.ios-icon-like2:before {
  content: "\e6a1";
}
.ios-icon-plus:before {
  content: "\e623";
}
.ios-icon-left-arrow:before {
  content: "\e6a2";
}
.ios-icon-play:before {
  content: "\e624";
}
.ios-icon-key:before {
  content: "\e6a3";
}
.ios-icon-plane:before {
  content: "\e625";
}
.ios-icon-joy:before {
  content: "\e6a4";
}
.ios-icon-photo-gallery:before {
  content: "\e626";
}
.ios-icon-pin:before {
  content: "\e69b";
}
.ios-icon-phone:before {
  content: "\e627";
}
.ios-icon-plug:before {
  content: "\e69a";
}
.ios-icon-pen:before {
  content: "\e628";
}
.ios-icon-right-arrow:before {
  content: "\e699";
}
.ios-icon-paper-plane:before {
  content: "\e629";
}
.ios-icon-delete-user:before {
  content: "\e6a7";
}
.ios-icon-paint:before {
  content: "\e62a";
}
.ios-icon-bottom-arrow:before {
  content: "\e6a8";
}
.ios-icon-notebook:before {
  content: "\e62b";
}
.ios-icon-note:before {
  content: "\e62c";
}
.ios-icon-next:before {
  content: "\e62d";
}
.ios-icon-news-paper:before {
  content: "\e62e";
}
.ios-icon-musiclist:before {
  content: "\e62f";
}
.ios-icon-music:before {
  content: "\e630";
}
.ios-icon-mouse:before {
  content: "\e631";
}
.ios-icon-more:before {
  content: "\e632";
}
.ios-icon-moon:before {
  content: "\e633";
}
.ios-icon-monitor:before {
  content: "\e634";
}
.ios-icon-micro:before {
  content: "\e635";
}
.ios-icon-menu:before {
  content: "\e636";
}
.ios-icon-map:before {
  content: "\e637";
}
.ios-icon-map-marker:before {
  content: "\e638";
}
.ios-icon-mail:before {
  content: "\e639";
}
.ios-icon-mail-open:before {
  content: "\e63a";
}
.ios-icon-mail-open-file:before {
  content: "\e63b";
}
.ios-icon-magnet:before {
  content: "\e63c";
}
.ios-icon-loop:before {
  content: "\e63d";
}
.ios-icon-look:before {
  content: "\e63e";
}
.ios-icon-lock:before {
  content: "\e63f";
}
.ios-icon-lintern:before {
  content: "\e640";
}
.ios-icon-link:before {
  content: "\e641";
}
.ios-icon-like:before {
  content: "\e642";
}
.ios-icon-light:before {
  content: "\e643";
}
.ios-icon-less:before {
  content: "\e644";
}
.ios-icon-keypad:before {
  content: "\e645";
}
.ios-icon-junk:before {
  content: "\e646";
}
.ios-icon-info:before {
  content: "\e647";
}
.ios-icon-home:before {
  content: "\e648";
}
.ios-icon-help2:before {
  content: "\e649";
}
.ios-icon-help1:before {
  content: "\e64a";
}
.ios-icon-graph3:before {
  content: "\e64b";
}
.ios-icon-graph2:before {
  content: "\e64c";
}
.ios-icon-graph1:before {
  content: "\e64d";
}
.ios-icon-graph:before {
  content: "\e64e";
}
.ios-icon-global:before {
  content: "\e64f";
}
.ios-icon-gleam:before {
  content: "\e650";
}
.ios-icon-glasses:before {
  content: "\e651";
}
.ios-icon-gift:before {
  content: "\e652";
}
.ios-icon-folder:before {
  content: "\e653";
}
.ios-icon-flag:before {
  content: "\e654";
}
.ios-icon-filter:before {
  content: "\e655";
}
.ios-icon-file:before {
  content: "\e656";
}
.ios-icon-expand1:before {
  content: "\e657";
}
.ios-icon-exapnd2:before {
  content: "\e658";
}
.ios-icon-edit:before {
  content: "\e659";
}
.ios-icon-drop:before {
  content: "\e65a";
}
.ios-icon-drawer:before {
  content: "\e65b";
}
.ios-icon-download:before {
  content: "\e65c";
}
.ios-icon-display2:before {
  content: "\e65d";
}
.ios-icon-display1:before {
  content: "\e65e";
}
.ios-icon-diskette:before {
  content: "\e65f";
}
.ios-icon-date:before {
  content: "\e660";
}
.ios-icon-cup:before {
  content: "\e661";
}
.ios-icon-culture:before {
  content: "\e662";
}
.ios-icon-crop:before {
  content: "\e663";
}
.ios-icon-credit:before {
  content: "\e664";
}
.ios-icon-copy-file:before {
  content: "\e665";
}
.ios-icon-config:before {
  content: "\e666";
}
.ios-icon-compass:before {
  content: "\e667";
}
.ios-icon-comment:before {
  content: "\e668";
}
.ios-icon-coffee:before {
  content: "\e669";
}
.ios-icon-cloud:before {
  content: "\e66a";
}
.ios-icon-clock:before {
  content: "\e66b";
}
.ios-icon-check:before {
  content: "\e66c";
}
.ios-icon-chat:before {
  content: "\e66d";
}
.ios-icon-cart:before {
  content: "\e66e";
}
.ios-icon-camera:before {
  content: "\e66f";
}
.ios-icon-call:before {
  content: "\e670";
}
.ios-icon-calculator:before {
  content: "\e671";
}
.ios-icon-browser:before {
  content: "\e672";
}
.ios-icon-box2:before {
  content: "\e673";
}
.ios-icon-box1:before {
  content: "\e674";
}
.ios-icon-bookmarks:before {
  content: "\e675";
}
.ios-icon-bicycle:before {
  content: "\e676";
}
.ios-icon-bell:before {
  content: "\e677";
}
.ios-icon-battery:before {
  content: "\e678";
}
.ios-icon-ball:before {
  content: "\e679";
}
.ios-icon-back:before {
  content: "\e67a";
}
.ios-icon-attention:before {
  content: "\e67b";
}
.ios-icon-anchor:before {
  content: "\e67c";
}
.ios-icon-albums:before {
  content: "\e67d";
}
.ios-icon-alarm:before {
  content: "\e67e";
}
.ios-icon-airplay:before {
  content: "\e67f";
}


/* HELPER CLASS
 * -------------------------- */

/* FA based classes */

/*! Modified from font-awesome helper CSS classes - PIXEDEN
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (CSS: MIT License)
 */

/* makes the font 33% larger relative to the icon container */
.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x {
  font-size: 2em;
}
.icon-3x {
  font-size: 3em;
}
.icon-4x {
  font-size: 4em;
}
.icon-5x {
  font-size: 5em;
}
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}
.icon-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}
.icon-ul > li {
  position: relative;
}
.icon-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: 0.14285714285714285em;
  text-align: center;
}
.icon-li.icon-lg {
  left: -1.8571428571428572em;
}
.icon-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.pe.pull-left {
  margin-right: .3em;
}
.pe.pull-right {
  margin-left: .3em;
}
.icon-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.icon-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.icon-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.icon-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.icon-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.icon-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.icon-stack-1x,
.icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.icon-stack-1x {
  line-height: inherit;
}
.icon-stack-2x {
  font-size: 2em;
}
.icon-inverse {
  color: #ffffff;
}

/* Custom classes / mods - PIXEDEN */
.icon-va {
  vertical-align: middle;
}

.icon-border {
  border: solid 0.08em #eaeaea;
}