.list-item {
  &:first-child .list-item__content {
    border-top: none;
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

.list-item__content {
  border-top: 1px solid #c8c7cc;
  padding: 12px 0;
}