.TitleBar {
  flex-flow: row;

  a {
    text-decoration: none;
  }

  &--left {
    flex: 1;
    margin: auto;
  }

  &--mid {
    flex: 3;
    margin: auto;
  }

  &--right {
    flex: 1;
    margin: auto;
  }
}