h1, h2, h3, h4, h5 {
  line-height: .8em;
}

h2 {
  font-size: 2rem;
  margin: 1rem 0;
}
:focus {
  outline-color: transparent;
  outline-style: none;
}
h2 + p {
  margin: 0 0 2rem 0;
}
a {
  text-decoration: none;
  color: #007FFF;
  padding: 0 0 0.2rem 0;
  font-weight: bold;
}
a:hover {
  color: #007FFF;
}
pre {
  overflow-x: auto;
  padding: 1.25em;
  border: 1px solid #e6e6e6;
  border-left-width: 5px;
  margin: 1.6em 0;
  font-size: 0.875em;
  background: #fcfcfc;
  white-space: pre;
  word-wrap: normal;
}
code {
  color: #007FFF;
}
.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page-nav {
  box-sizing: border-box;
  position: fixed;
  padding: 0.5rem;
  width: 100%;
  background: transparent;
}
.button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: 11rem;
  padding: 0 4rem;
  margin: 1rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #007FFF;
  border-radius: 2px;
  color: #007FFF;
  font-size: 1.25rem;
  transition: background-color, 0.15s;
}
.button:hover {
  background: #3399FF;
  border-color: #3399FF;
  color: #FFF;
  text-shadow: 0 1px #007FFF;
}
.button:active {
  background: #007FFF;
  color: #FFF;
  border-top: 2px solid #0066CC;
}
@media only screen and (min-width: 48rem) {
  body {
    font-size: 16px;
  }
  .page {
    width: 75%;
  }
  .slide-menu {
    width: 25%;
  }
  .open {
    transform: translate3d(0, 0, 0);
  }
  .hero-headline {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  .hero-copy {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
}



/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 14, 2014 */

@font-face {
  font-family: 'Lato';
  src: url('/fonts/lato-bold-webfont.eot');
  src: url('/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
      url('/fonts/lato-bold-webfont.woff2') format('woff2'),
      url('/fonts/lato-bold-webfont.woff') format('woff'),
      url('/fonts/lato-bold-webfont.ttf') format('truetype'),
      url('/fonts/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/lato-light-webfont.eot');
  src: url('/fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
      url('/fonts/lato-light-webfont.woff2') format('woff2'),
      url('/fonts/lato-light-webfont.woff') format('woff'),
      url('/fonts/lato-light-webfont.ttf') format('truetype'),
      url('/fonts/lato-light-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;
}