div, span {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  background: #232323;
  line-height: 1.4rem;
}

#grid {
  display: block;
  position: absolute;
  top: 0;
  right: 60%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: url(/images/grid.svg);
  opacity: 0.13;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

#grid div {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: -moz-linear-gradient(right,  rgba(35,35,35,0.65) 0%, rgba(35,35,35,0) 59%, rgba(35,35,35,0) 64%); /* FF3.6+ */
  background: -webkit-gradient(linear, right top, right top, color-stop(0%,rgba(35,35,35,0.65)), color-stop(59%,rgba(35,35,35,0)), color-stop(64%,rgba(35,35,35,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(right,  rgba(35,35,35,0.65) 0%,rgba(35,35,35,0) 59%,rgba(35,35,35,0) 64%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to left,  rgba(35,35,35,0.65) 0%,rgba(35,35,35,0) 59%,rgba(35,35,35,0) 64%); /* W3C */
}

#glow {
  position: absolute;
  top: 10%;
  left: 0;
  background: rgba(255,255,255,0.1);
  width: 220px;
  height: 200px;
  -webkit-filter: blur(80px);
  -moz-filter: blur(80px);
  filter: blur(80px);
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
}


.header, .hero, .body {
  padding: 0 2rem;
}

.row {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.header {
  min-width: 468px;
  padding: 0 1.5rem;
  color: #fff;
  justify-content: space-between;
  z-index: 2;
}

.header .row {
  height: 60px;
}

.header h1 {
  display: block;
  margin: auto 0;
}

.header h1 a {
  margin: -4px 0 0;
  display: block;
  color: #fff;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 160px;
  height: 48px;
  background: url(/images/reapp-logo.png) no-repeat top left;
}

.header nav {
  margin: auto;
  flex-flow: row;
  flex-grow: 4;
  display: flex;
  justify-content: center;
}

.header nav a {
  margin: auto 0;
  font-size: .9rem;
  padding: .4rem 1rem;
  color: #fff;
  opacity: 0.8;
  transition: opacity .2s ease-in;
}

.header nav a:hover {
  opacity: 1;
}

.install {
  text-align: right;
  margin: auto;
  flex-grow: 2;
}

.install p {
  font-size: .9rem;
  margin: auto 0;
}

.install span {
  display: block;
  font-weight: normal;
  opacity: 0.8;
}

.hero {
  padding: 0;
  padding-bottom: 3rem;
  background: none;
  border: none;
  color: #fff;
  z-index: 3;
}

.hero h2 {
  font-size: 2.3rem;
  margin: 0 0 1rem 0 ;
  font-weight: normal;
}

.hero p {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.hero-second, .hero-first {
  position: relative;
  z-index: 3;
  padding: 2rem 0;
}

.info {
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-weight: bold;
  padding: 5px 6px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  border-radius: 2px;
  position: absolute;
  font-size: .7rem;
  line-height: .7rem;
}

.info-one {
  top: 100px;
  right: 200px;
}

.info-two {
  top: 160px;
  right: 150px;
}

.info-three {
  top: 200px;
  right: 50px;
}

.hero h2 {
  color: #fff;
}

.hero p {
  color: #ccc;
}

.hero-headline {
  font-size: 3rem;
}

.body {
  background: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  z-index: 2;
}

#phone {
  background: url(/images/phone.jpg) no-repeat bottom right;
  width: 620px;
  height: 671px;
  position: absolute;
  top: -429px;
  right: -100px;
  z-index: 1;
}

.body div {
  position: relative;
  z-index: 2;
}

.screenshot {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}