div, span {
  box-sizing: border-box;
}

body {
  font-family: 'Lato Regular', 'Helvetica Neue', Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  background: #232323;
  line-height: 1.4rem;
}

.header, .hero, .body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-width: 468px;
  padding: 0 1.5rem;
  color: #fff;
  font-weight: bold;
  justify-content: space-between;
  z-index: 2;
  background: rgba(35,35,35,0.2);
}

.header .row {
  height: 60px;
}

.header h1 {
  display: block;
  margin: auto 0;
}

.header h1 a {
  margin: -4px 0 0;
  display: block;
  color: #fff;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 160px;
  height: 48px;
  background: url(/images/reapp-logo.png) no-repeat top left;
}

.header nav {
  margin: auto;
  flex-flow: row;
  flex-grow: 5;
  display: flex;
  justify-content: center;
}

.header nav a {
  margin: auto 0;
  font-size: .9rem;
  padding: .4rem 1rem;
  color: #fff;
}

.install {
  text-align: right;
  margin: auto;
}

.install p {
  font-size: .9rem;
  margin: auto 0;
}

.install span {
  display: block;
  font-weight: normal;
  opacity: 0.8;
}

.hero {
  padding-top: 6rem;
  background: none;
  border: none;
  color: #fff;
}

.hero-second, .hero-first {
  position: relative;
  z-index: 3;
}

.info {
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-weight: bold;
  padding: 5px 6px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  border-radius: 2px;
  position: absolute;
  font-size: .7rem;
  line-height: .7rem;
}

.info-one {
  top: 100px;
  right: 200px;
}

.info-two {
  top: 160px;
  right: 150px;
}

.info-three {
  top: 200px;
  right: 50px;
}

#phone {
  background: url(/images/phone.jpg) no-repeat bottom right;
  width: 620px;
  height: 671px;
  position: absolute;
  bottom: -274px;
  right: -100px;
  z-index: 1;
}

.hero h2 {
  color: #fff;
}

.hero p {
  color: #ccc;
}

.hero-headline {
  font-size: 3rem;
}

.body {
  background: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.screenshot {
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}