div, span {
  box-sizing: border-box;
}

body {
  font-family: 'Lato Regular', 'Helvetica Neue', Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  background: #232323;
  line-height: 1.4rem;
}

.header, .hero, .body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
}

.header {
  height: 80px;
  padding: 0 1.5rem;
  color: #fff;
  font-weight: bold;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  background: rgba(35,35,35,0.2);
}

.header h1 {
  display: block;
  width: 160px;
  height: 58px;
}

.header h1 a {
  margin: -4px 0 0;
  display: block;
  color: #fff;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url(/images/reapp-logo.png) no-repeat top left;
}

.header nav {
  flex-flow: row;
  flex-grow: 5;
  display: flex;
  justify-content: center;
}

.header nav a {
  margin: auto 0;
  font-size: .9rem;
  padding: .5rem .9rem;
  color: #fff;
}

.install {
  text-align: right;
  margin: auto;
}

.install p {
  font-size: .9rem;
  margin: auto 0;
}

.install span {
  display: block;
  font-weight: normal;
  opacity: 0.8;
}

.hero {
  background: none;
  border: none;
  color: #fff;
}

.hero-second {
  position: relative;
  z-index: 3;
}

#phone {
  background: url(/images/phone.jpg) no-repeat bottom right;
  width: 620px;
  height: 671px;
  position: absolute;
  bottom: -274px;
  right: 0;
  z-index: 1;
}

.hero h2 {
  color: #fff;
}

.hero p {
  color: #ccc;
}

.hero-headline {
  font-size: 3rem;
}

.body {
  background: #fff;
}