.clearfix, header, div, section {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-size: 1.4rem;
}