.drawer {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
}

.drawer-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.drawer-enter.drawer-enter-active {
  opacity: 1;
}

.drawer-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.drawer-leave.drawer-leave-active {
  opacity: 0.01;
}