.article {

  h3 {
    margin: 0;
    font-size: 14px;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    display: inline-block;
    padding: 0 12px 0 0;;
    font-size: 12px;
  }
}

.score {
  font-weight: bold;
}