div, a, button, input, form, span, ul, li {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  align-items: stretch;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  -webkit-touch-callout: none;
  touch-action: manipulation;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -ms-touch-action: manipulation;
  touch-action: manipulation;

  -webkit-font-smoothing: antialiased;
}

a, button, input {
  cursor: pointer;
}

input, textarea {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

html,
body {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}

a {
  text-decoration: none;
}

a,
input,
textarea,
select {
  outline: 0;
  color: #307cff;
}

a:visited, a:active {
  color: #307cff;
}

#app {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

p {
  display: block;
  color: #444;
}

p * {
  display: inline;
}

p a {
  text-decoration: underline;
}

.ListItem {
  transition: background linear 50ms;
}

.ListItem.tapActive {
  background: rgba(0,0,0,0.1);
}

.ftscroller_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}