* {
  box-sizing: border-box;
}

div, a, button, input, form {
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  align-items: stretch;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
}

a, button, input, textarea {
  cursor: pointer;
}

input, textarea, p {
  -webkit-touch-callout: default;
  -webkit-user-select: auto;
  user-select: auto;
}

html,
body {
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}

a {
  text-decoration: none;
}

a,
input,
textarea,
select {
  outline: 0;
  color: #307cff;
}

a:visited, a:active {
  color: #307cff;
}

#app {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

p {
  display: block;
  color: #444;
}

p a {
  display: inline-block;
  text-decoration: underline;
}

.ListItem {
  transition: background linear 50ms;
}

.verticalCenter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  text-align: center;
}

.verticalCenter > * {
  margin: auto;
  pointer-events: auto;
}