.list {
  background: #fff;
  border-bottom: 1px solid #c8c7cc;
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
  padding: 10px;
  padding-bottom: 0;
  margin: 0;
}

.list-item-content {
  border-bottom: 1px solid #c8c7cc;
  padding-bottom: 10px;
}