.clearfix, header, div, section {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-size: 1.4rem;
}

html,
body {
  background: black;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

#react-root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}