button .ios-icon-angle-left,
button .ios-icon-angle-right {
  &:before {
    margin: 0 2px 0 0;
    font-weight: bold;
    font-size: 44px;
    line-height: 28px;
  }
}

.button {
  text-decoration: none;
  border: 1px solid #307cff;
  border-radius: 5px;
  text-align: center;
  padding: 0 10px;
  height: 29px;
  line-height: 27px;
}