.ListItem {
  border-top: 1px solid #c8c7cc;
  position: relative
  flex-flow: row;
  justify-content: space-between;
  padding: 12px 0;

  &:first-child {
    border-top: none;
  }

  * {
    max-width: 100%;
  }

  a {
    text-decoration: none;
    align-self: flex-start;
    order: 1;
    margin: auto 0;
    flex: 1;
  }
}

.ListItem--content {
  a {
    width: 100%;
    flex-flow: row;
    justify-content: space-between;

    &:after {
      content: url(unquote('data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHdpZHRoPSI2NHB4IiBoZWlnaHQ9IjY0cHgiIHZpZXdCb3g9IjAgMCA2NCA2NCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgNjQgNjQiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSI4IiBzdHJva2UtbGluZWNhcD0icm91bmQiPjxwb2x5Z29uIHBvaW50cz0iMTYuNzY0LDYzLjIxMyAxNS4xLDYxLjQ5OCA0NS40NzMsMzIuMDAxIDE1LjEsMi40OTkgMTYuNzY0LDAuNzg3IDQ4LjksMzIuMDAxIAkJIi8+PC9nPjwvc3ZnPg=='));
      transform: scale(0.2);
      width: 0;
      height: 0;
      margin: auto 24px auto 0;
      top: -6px;
      position: relative;
      opacity: 0.2;
    }
  }
}