.ListItem {
  &:first-child {
    border-top: none;
  }

  a {
    text-decoration: none;
  }
}

.ListItem {
  border-top: 1px solid #c8c7cc;
  position: relative
  flex-flow: row;
  justify-content: space-between;
  padding: 12px 0;

  & > a {
    padding: 0;
  }

  * {
    max-width: 100%;
  }

  a {
    align-self: flex-start;
    order: 1;
    margin: auto 0;
    flex: 1;
  }

  &.ios-icon-angle-right:before {
    order: 2;
    font-size: 34px;
    line-height: 22px;
    height: 22px;
    align-self: flex-end;
    margin: auto 0;
    color: #aaa;
    font-weight: bold;
  }
}

.ListItem--content {
  a {
    width: 100%;
    flex-flow: row;
    justify-content: space-between;

    &:after {
      content: url(/icons/svg/right.svg);
      transform: scale(0.3);
      width: 24px;
      height: 24px;
      margin: auto 12px;
      top: -6px;
      position: relative;
      opacity: 0.5;
    }
  }
}