.TitleBar {
  flex-flow: row;
  font-weight: 500;
  justify-content: space-between;
  padding: 0 10px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);

  a {
    text-decoration: none;
  }

  &--left {
    margin: auto 0;
  }

  &--mid {
    margin: auto 0;
    position: relative;
  }

  &--right {
    margin: auto 0;
  }
}