.article {
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;

  a {
    text-decoration: none;
  }

  h3 {
    margin: 0;
    font-weight: normal;
  }

  .score {
    font-weight: bold;
  }

  .touched {
    background: #eee;
  }

  .doubleTouched {
    background: #ccc;
  }

  ul {
    color: #999;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    flex-flow: row;
    justify-content: flex-start;
  }

  li {
    padding: 0 12px 0 0;
    font-size: 13px;
  }
}

.article--left {
  padding: 12px 12px 12px 0;
  flex-shrink: 1;
}

.article--right {
  width: 60px;

  a {
    background: #eee;
    width: 100%;
    height: 100%;
    font-size: 22px;
  }

  span {
    margin: auto;
    color: #777;
  }
}