#Article {
  .ArticleItem {
    padding: 0 12px 4px !important;
    background: rgba(0,0,0,0.05);
  }

  .ListItem--title {
    font-size: 16px;
  }
}

#comments {
  text-wrap: nowrap;
  overflow: hidden;
}