@media (min-width: 768px) {
  .ViewLeft {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 70% !important;

    .toolbar {
      right: 70% !important;
    }
  }

  .ViewMain {
    top: 0 !important;
    left: 30% !important;
    width: 70% !important;

    .drawer {

    }
  }
}