.Article {
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;

  a {
    color: #222;
    text-decoration: none;
  }

  h3 {
    margin: 0;
    font-weight: normal;
  }

  .touched {
    background: #eee;
  }

  .doubleTouched {
    background: #ccc;
  }

  ul {
    color: #999;
    list-style: none;
    padding: 0;
    margin: 5px 0 0;
    flex-flow: row;
    width: 100%;
  }

  li {
    padding: 0;
    font-size: 13px;
    flex-grow: 1;
  }

  .score {
    font-weight: bold;
    flex-grow: 0;
  }

  .time {
    padding: 0;
    flex-grow: 5;
    text-align: right;
  }


  .article--left {
    padding: 12px 12px 12px 0;
    flex-shrink: 1;
    width: 100%;
  }

  .ListItem--after {
    flex-grow: 1;
    width: 60px;
    margin: 0;
    z-index: 3;
    position: relative;

    a {
      flex-grow: 1;
      background: #eee;
      width: 100%;
      height: 100%;
      font-size: 22px;
    }

    span {
      margin: auto;
      color: #777;
    }
  }
}