#ArticlesPage {

  .List {
    border-top: none;
  }

  .ListItem:first-child {
    border-top: none;
  }

}

.drawer {
  box-shadow: 0 0 15px rgba(0,0,0,0.4);

  &.closed {
    box-shadow: none;
  }
}

.Drawer {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6000;
  transform: translate3d(0%,0,0);
  transition: .2s transform ease-out;

  * {
    pointer-events: auto;
  }
}

.drawer-enter {
  transform: translate3d(100%,0,0) !important;
}

.drawer-enter.drawer-enter-active {
  transform: translate3d(0,0,0) !important;
}

.drawer-leave {
  transform: translate3d(0,0,0) !important;
}

.drawer-leave.drawer-leave-active {
  transform: translate3d(100%,0,0) !important;
}

#subBar {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-flow: row;
  background: #ccc;

  li {
    margin: 0;
    padding: 10px;
    flex: 1;
  }
}

.ViewMain {
  pointer-events: none;

  .drawer {
    pointer-events: auto;
  }
}

@media (min-width: 768px) {
  .ViewLeft {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 70% !important;

    .toolbar {
      right: 70% !important;
    }
  }

  .ViewMain {
    top: 0 !important;
    left: 30% !important;
    width: 70% !important;

    .drawer {

    }
  }
}