.comment {
  .comment {
    border-left: 10px solid #ccc;
  }

  &--content {
    padding: 5px 10px;
  }

  &.closed {
    height: 30px;
    overflow: hidden;
  }

  h3 {
    margin: .2em 0 .4em;
  }

  p {
    margin: 0;
  }
}