.comment {
  .comment {
    border-left: 10px solid #d5d5d5;

    &.level-5 { border-color: #ddd; }
    &.level-4 { border-color: #ccc; }
    &.level-3 { border-color: #bbb; }
    &.level-2 { border-color: #aaa; }
    &.level-1 { border-color: #999; }
  }

  &--content {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
  }

  &.closed {
    height: 30px;
    overflow: hidden;
  }

  h3 {
    margin: .2em 0 .4em;
  }

  p {
    margin: 0;
    word-wrap: break-word;
  }

  code {
    word-wrap: break-word;
  }
}